{% extends "base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'problems' %}">{% trans 'Problems' %}</a>
        &rsaquo; <a href="{% url 'problem' submission.problem.pk %}">{{ submission.problem.title }}</a>
        &rsaquo; <a href="{% url 'submissions' submission.problem.pk %}">{% trans 'Submissions' %}</a>
        &rsaquo; {{ submission }}
    </div>
{% endblock %}

{% block site_title %}{{ submission.problem.title}}{% endblock %}

{% block content %}
    <h1>{{ submission }}</h1>
    <a class="button margin-bottom-m" href="{% url 'code' submission.problem.pk submission.pk %}">{% trans "Download code" %}</a>
    <h1>{% trans 'Review' %}</h1>
    {% if submission.review_set.all %}
        <p>{% trans 'Status' %}: {% if submission.status == 2 %}<i class="fa fa-check-circle margin-right-xs" style="color: green;"></i>{% elif submission.status == 3 %}<i class="fa fa-times-circle margin-right-xs" style="color: red;"></i>{% else %}<i class="fa fa-circle margin-right-xs" style="color: lightgray;"></i>{% endif %}</p>
        <div class="row">
            {% for review in submission.review_set.all %}
                <div class="col-md-12">
                    <h3>{{ review.reviewer }}</h3>
                    <div class="text">
                        {{ review.comment }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text">{% trans "This submission hasn't been revised yet" %}</div>
    {% endif %}
{% endblock %}