{% extends "base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'problems' %}">{% trans 'Problems' %}</a>
        &rsaquo; <a href="{% url 'problem' problem.pk %}">{{ problem.title }}</a>
        &rsaquo; {% trans 'Submissions' %}
    </div>
{% endblock %}

{% block site_title %}{{ problem.title}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans 'Submissions' %}</h1>
            <ol>
                {% for submission in submissions %}
                    <li><a href="{% url 'submission' submission.problem.pk submission.pk %}">{{ submission }}</a></li>
                {% empty %}
                    <p>{% trans "There's nothing submitted." %}</p>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}