{% extends "base_site.html" %}
{% load i18n %}

{% block site_title %}{{ problem.title }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'problems' %}">{% trans 'Problems' %}</a>
        &rsaquo; <a href="{% url 'problem' problem.pk %}">{{ problem.title }}</a>
        &rsaquo; {% trans "Submit" %}
    </div>
{% endblock %}

{% block content %}
    <h1>Submit: {{ problem.title }}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ submit_form.code }}
        <input type="submit" class="margin-top-m" value="{% trans 'Submit' %}">
    </form>
{% endblock %}