{% extends "base_site.html" %}
{% load i18n static %}

{% block content_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
    </div>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{% trans 'Problems' %}</h1>
            <ol>
                {% for problem in problems %}
                    <li><a href="{% url 'problem' problem.pk %}">{{ problem }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-md-6">
            <h1>{% trans 'Submissions' %}</h1>
            <ol>
                {% for submission in submissions %}
                    <li>
                        {% if submission.status == 2 %}<i class="fa fa-check-circle margin-right-xs" style="color: green;"></i>{% elif submission.status == 3 %}<i class="fa fa-times-circle margin-right-xs" style="color: red;"></i>{% endif %}
                        <a href="{% url 'submission' submission.problem.pk submission.pk %}">{{ submission }}</a>
                    </li>
                {% empty %}
                    <p>{% trans "There's nothing submitted." %}</p>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}