.padding-none {
    padding: 0;
}

.padding-xs {
    padding: 5px;
}

.padding-s {
    padding: 15px;
}

.padding-m {
    padding: 25px;
}

.padding-l {
    padding: 35px;
}

.padding-xl {
    padding: 45px;
}

.padding-top-none {
    padding-top: 0;
}

.padding-top-xs {
    padding-top: 5px;
}

.padding-top-s {
    padding-top: 15px;
}

.padding-top-m {
    padding-top: 25px;
}

.padding-top-l {
    padding-top: 35px;
}

.padding-top-xl {
    padding-top: 45px;
}

.padding-bottom-none {
    padding-bottom: 0;
}

.padding-bottom-xs {
    padding-bottom: 5px;
}

.padding-bottom-s {
    padding-bottom: 15px;
}

.padding-bottom-m {
    padding-bottom: 25px;
}

.padding-bottom-l {
    padding-bottom: 35px;
}

.padding-bottom-xl {
    padding-bottom: 45px;
}

.padding-left-none {
    padding-left: 0;
}

.padding-left-xs {
    padding-left: 5px;
}

.padding-left-s {
    padding-left: 15px;
}

.padding-left-m {
    padding-left: 25px;
}

.padding-left-l {
    padding-left: 35px;
}

.padding-left-xl {
    padding-left: 45px;
}

.padding-right-none {
    padding-right: 0;
}

.padding-right-xs {
    padding-right: 5px;
}

.padding-right-s {
    padding-right: 15px;
}

.padding-right-m {
    padding-right: 25px;
}

.padding-right-l {
    padding-right: 35px;
}

.padding-right-xl {
    padding-right: 45px;
}

.margin-none {
    margin: 0;
}

.margin-xs {
    margin: 5px;
}

.margin-s {
    margin: 15px;
}

.margin-m {
    margin: 25px;
}

.margin-l {
    margin: 35px;
}

.margin-xl {
    margin: 45px;
}

.margin-top-none {
    margin-top: 0;
}

.margin-top-xs {
    margin-top: 5px;
}

.margin-top-s {
    margin-top: 15px;
}

.margin-top-m {
    margin-top: 25px;
}

.margin-top-l {
    margin-top: 35px;
}

.margin-top-xl {
    margin-top: 45px;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}

.margin-bottom-s {
    margin-bottom: 15px;
}

.margin-bottom-m {
    margin-bottom: 25px;
}

.margin-bottom-l {
    margin-bottom: 35px;
}

.margin-bottom-xl {
    margin-bottom: 45px;
}

.margin-left-none {
    margin-left: 0;
}

.margin-left-xs {
    margin-left: 5px;
}

.margin-left-s {
    margin-left: 15px;
}

.margin-left-m {
    margin-left: 25px;
}

.margin-left-l {
    margin-left: 35px;
}

.margin-left-xl {
    margin-left: 45px;
}

.margin-right-none {
    margin-right: 0;
}

.margin-right-xs {
    margin-right: 5px;
}

.margin-right-s {
    margin-right: 15px;
}

.margin-right-m {
    margin-right: 25px;
}

.margin-right-l {
    margin-right: 35px;
}

.margin-right-xl {
    margin-right: 45px;
}
