{% extends "base_site.html" %}
{% load i18n %}

{% block site_title %}{% trans "Problems" %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        &rsaquo; {% trans 'Problems' %}
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans 'Problems' %}</h1>
            <ol>
                {% for problem in problems %}
                    <li><a href="{% url 'problem' problem.pk %}">{{ problem }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}