{% extends "base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'home' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'problems' %}">{% trans 'Problems' %}</a> &rsaquo; {{ problem.title }}
    </div>
{% endblock %}

{% block site_title %}{{ problem.title}}{% endblock %}

{% block content %}
    <h1>{{ problem.title }}</h1>
    <div class="text margin-bottom-m">
        {{ problem.body|safe }}
    </div>
    {% for testcase in problem.testcase_set.all %}
        <div class="row margin-bottom-m">
            <div class="col-md-6">
                <h3>Entrada</h3>
                {{ testcase.input }}
            </div>
            <div class="col-md-6">
                <h3>Sortida</h3>
                {{ testcase.output }}
            </div>
        </div>
    {% endfor %}
    <a class="button" href="{% url 'submit' problem.pk %}">{% trans "Submit" %}</a>
{% endblock %}